h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: brown;
    text-align: center;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: brown;
    text-align: center;
    font-weight: bold;
}
